/.vs
/publish/worker
/text_worker/bin/Debug/netcoreapp1.0
/text_worker/bin/release/netcoreapp1.0
/text_worker/obj/Debug/netcoreapp1.0
/text_worker/obj/release/netcoreapp1.0
/text_worker/*.user
/test/text_worker.test/obj
/test/text_worker.test/bin
/src/text_worker/bin
/src/text_worker/obj
